
@{
    ViewBag.Title = "تماس با ما";
}

<div class="contact_bgimg_default">
    <div class="first-topic">
        <h1>
            با ما در تماس باشید
        </h1>
    </div>
    <div class="home-login-topic">
        <p>
            اگرا سوال دارید با ما در تماس باشید، ما برای کمک به شما اینجا هستیم
        </p>
    </div>
    <br />
    <img src="images/page-1@2x.png" />
</div>

<div class="contactUs_title">
    <h2>
        با ما در تماس باشید
    </h2>
</div>
<div class="contactUs_text">
    <p>
        ایا نیاز دارید تا با ما صحبت کنید؟ آیا پیشنهاد و یا انتقادی دارید؟
        <br />
        لطفا با استفاده از فرم زیر با ما در مورد تمامی سوالات از جمله عضویت، رویدادها، پیشنهادات، انتقادات و یا درخواست مصاحبه و کار داوطلبانه در تماس باشید.

    </p>
</div>

<div class="container-fluid contact_form_Section">
    <div class="row">
        <form method="get" action="#" class="form-horizontal col-md-10 col-md-offset-1">
            <label for="fname" class="control-label col-md-1"></label>
            <div class="form-group col-md-offset-1 col-md-5">
                <input id="contact_name" type="text" name="fname" placeholder="نام*" class="form-control" aria-invalid="false" />
            </div>
            <label for="lname" class="control-label col-md-1"></label>
            <div class="form-group col-md-offset-1 col-md-5">
                <input id="contact_family" type="text" name="lname" placeholder="نام خانوادگی*" class="form-control" aria-required="true" aria-invalid="false" />
            </div>
            <label for="email" class="control-label col-md-1"></label>
            <div class="form-group col-md-offset-1 col-md-11">
                <input id="contact_email" type="text" name="email" placeholder="آدرس ایمیل خود را وارد نمائید*" class="form-control" aria-required="true" aria-invalid="false" />
            </div>
            <label for="subject" class="control-label col-md-1"></label>
            <div class="form-group col-md-offset-1 col-md-11">
                <input id="contact_subject" type="text" name="subject" placeholder="موضوع*" class="form-control" aria-required="true" />
            </div>
            <label for="T_area" class="control-label col-md-1"></label>
            <div class="form-group col-md-offset-1 col-md-11">
                <textarea id="contact_text" type="text" name="T_area" placeholder="*متن پیام خود را وارد نمائید" class="form-control" aria-required="true" aria-invalid="false"></textarea>
            </div>
            <div class="form-group">
                <button style="margin-top:10px; margin-right: 9%;" type="submit" class="btn btn-lg btn-group-lg pull-right btn-danger col-md-offset-1">ثبت نام</button>
            </div>
        </form>
    </div>
</div>

<footer id="footer-Wrapper">
    <div class="social_footer container-fluid">
        <div class="row">
            <div class=" col-md-3"></div>
            <div id="instagram" class="col-md-1 social_item  fa-2x"><a class="btn fa fa-instagram pull-right" href="#"></a></div>
            <div id="youtube" class="col-md-1 social_item  fa-2x"><a class="btn fa fa-youtube" href="#"></a></div>
            <div id="linkedin" class="col-md-1 social_item fa-2x"><a class="btn fa fa-linkedin" href="#"></a></div>
            <div id="google-plus" class="col-md-1 social_item fa-2x"><a class="btn fa fa-google-plus" href="#"></a></div>
            <div id="facebook" class="col-md-1 social_item  fa-2x"><a class="btn fa fa-facebook" href="#"></a></div>
            <div id="twitter" class="col-md-1 social_item  fa-2x"><a class="btn fa fa-twitter" href="#"></a></div>
            <div class="col-md-3"></div>
        </div>
        <div class="row col-md-offset-1">
            <div id="copyright">© Copyright 2018 | The Bitcoin Foundation | All Rights Reserved</div>
            <div id="privacy_policy" class="terms-and-conditions"><a href="#">Website Terms of Service</a> | <a href="#">Privacy Policy</a> | <a href="#">Terms of Membership</a></div>
        </div>
    </div>
</footer>


