
@{
    ViewBag.Title = "صفحه اصلی";
}

<div class="bgimg_default">
    <div class="first-topic">
        <h1>
            تحلیل، بررسی و اخبار مربوط به بازار ارز دیجیتال
        </h1>
    </div>
    <div class="home-login-topic">
        <p>
            امروز عضوی از بنیاد بیت کوین شوید
        </p>
    </div>
    <br />
    <button id="entry_btn" type="submit" class="btn btn-lg btn-danger">عضو شـوید</button>
</div>

<div id="main-box-title">
    <h2>
        قیمت لحظه ای ارزهای دیجیتال
    </h2>
</div>
<div class="price-article container-fluid ">
    <article class="cst col-md-3 item">
        <header>
            <div class="row featured-content-image">
                <img src="images/ethereum.svg" />
            </div>
        </header>
        <footer>
            <div class="row">
                <h3 style="color:#030d7a;">Etherum</h3>
            </div>
            <div class="row">
                <div class="col-md-5">
                    <div class="changePrc">
                        <p>2.48%-</p>
                    </div>
                </div>
                <div class="col-md-7 instantPrice">
                    <div class="row">4651 $</div>
                    <div class="row">27887 تومان</div>
                </div>
            </div>
            <div class="row">
                <div class="volume24">
                    <p>گردش بازار : 3 میلیارد دلار </p>
                </div>
            </div>
        </footer>
    </article>
    <article class="cst col-md-3 item">
        <header>
            <div class="row featured-content-image">
                <img src="images/bitcoin.svg" />
            </div>
        </header>
        <footer>
            <div class="row">
                <h3 style="color:#030d7a;">Bitcoin</h3>
            </div>
            <div class="row">
                <div class="col-md-5">
                    <div class="changePrc">
                        <p>2.48%-</p>
                    </div>
                </div>
                <div class="col-md-7 instantPrice">
                    <div class="row">4651 $</div>
                    <div class="row">27887 تومان</div>
                </div>
            </div>
            <div class="row">
                <div class="volume24">
                    <p>گردش بازار : 3 میلیارد دلار </p>
                </div>
            </div>
        </footer>
    </article>
    <article class="cst col-md-3 item">
        <header>
            <div class="row featured-content-image">
                <img src="images/litecoin.svg" />
            </div>
        </header>
        <footer>
            <div class="row">
                <h3 style="color:#030d7a;">Litecoin</h3>
            </div>
            <div class="row">
                <div class="col-md-5">
                    <div class="changePrc">
                        <p>2.48%-</p>
                    </div>
                </div>
                <div class="col-md-7 instantPrice">
                    <div class="row">4651 $</div>
                    <div class="row">27887 تومان</div>
                </div>
            </div>
            <div class="row">
                <div class="volume24">
                    <p>گردش بازار : 3 میلیارد دلار </p>
                </div>
            </div>
        </footer>
    </article>
    <article class="cst col-md-3 item">
        <header>
            <div class="row featured-content-image">
                <img src="images/dash.svg" />
            </div>
        </header>
        <footer>
            <div class="row">
                <h3 style="color:#030d7a;">Dash</h3>
            </div>
            <div class="row">
                <div class="col-md-5">
                    <div class="changePrc">
                        <p>2.48%-</p>
                    </div>
                </div>
                <div class="col-md-7 instantPrice">
                    <div class="row">4651 $</div>
                    <div class="row">27887 تومان</div>
                </div>
            </div>
            <div class="row">
                <div class="volume24">
                    <p>گردش بازار : 3 میلیارد دلار </p>
                </div>
            </div>
        </footer>
    </article>
</div>
<div id="fullwidth-box" class="container-fluid">
    <div class="row">
        <div class="col-md-6" id="explained-photo">
            <img src="images/bitcoin-process.png" class="img-responsive" />
        </div>
        <div class="col-md-6" id="explained_text">
            <h2>بیت کوین چیست؟</h2>
            <br />
            <p>
                بیت کوین نخستین پول رمزنگاری شده‌ای است که در دنیا ایجاد شده است. بیت کوین که یک نسخه از پول نقد الکترونیک است اجازه می دهد تا پرداخت ها به طور مستقیم و بدون رفتن به یک موسسه مالی انجام گیرد.
            </p>
            <br />
            <p>
                ارز رمزنگاری شده در اساس بر مبنای مخفی نگه داشتن هویت کاربران عمل می‌کند. با این وجود، بیت کوین برای اولین بار در مقاله‌ای که توسط یک برنامه نویس با اسم (احتمالا مستعار) ساتوشی ناکاموتو (Satoshi Nakamoto) منتشر شد، به جهانیان معرفی شد. با این وجود هنوز مشخص نیست که ساتوشی ناکاموتو کیست.
            </p>
            <br />
            <a class="btn btn-lg btn-group-lg pull-right" href="https://www.youtube.com/user/BitcoinFoundation">تماشای ویدئو</a>
        </div>
    </div>
</div>
<div class="container-fluid" id="world-bg">
    <div class="row">
        <div class="col-md-6 myClass" id="newsletter-membership">
            <div class="row newsletter-title">
                <h3>

                    عضویت در خبرنامه
                </h3>
            </div>
            <div class="row newsletter-text">
                <p>
                    برای دریافت آخرین اخبار مربوط به ارزهای دیجیتال ثبت نام کنید.
                </p>
            </div>
            <div class="row">
                <form method="get" action="#" class="form-horizontal col-md-10 col-md-offset-1">
                    <div class="form-group">
                        <input type="text" name="fname" placeholder="نام" class="form-control" />
                    </div>
                    <div class="form-group">
                        <input type="text" name="fname" placeholder="نام خانوادگی" class="form-control" />
                    </div>
                    <div class="form-group">
                        <input type="text" name="fname" placeholder="آدرس ایمیل" class="form-control" />
                    </div>
                    <div class="form-group">
                        <button style="margin-top:10px" type="submit" class="btn btn-danger pull-left">ثبت نام</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="col-md-6 myClass" id="exp-detail">
            <!--<p>
            بنیاد بیت کوین در کارگاه های آموزشی و کنفرانس هایی شرکت می کند که به مهندسان نرم افزار و سایر متخصصان اولیه کمک می کند تا دستان خود را بر روی تکنولوژی بلاک چین  که مورد تایید و پشتیبانی بیتکوین است، برساند.
                </p>-->
        </div>
    </div>
</div>
<div class="container-fluid newsSection">
    <div class="row">
        <article class="col-sm-4 newsCol">
            <div class="article_wrapper">
                <h3>
                    Tether تتر چیست ؟ اطلاعات کامل و قیمت ارز دیجیتال تتر
                </h3>
                <br />
                <p>
                    تتر (Tether) یا دلار تتر (توکن دلار) یک ارز رمزنگاری شده و مبتنی بر فناوری بلاک چین است که ارزش آن به معنی ارزش یک دلار آمریکا است. ایده اولیه پیدایش تتر این بود که یک ارز رمزپایه با ثبات ایجاد گردد تا بتواند مانند دلارهای دیجیتال در بازار استفاده شود. Tether از طریق پروتکل لایه ای Omni در بلاک چین ایجاد شده است.
                </p>
                <p>
                    توکن های تتر با نماد اختصاری USDT نامگذاری شده و توسط Tether Limited صادر و پشتیبانی می شوند. Tether با حجم معاملات ۲٫۳ میلیارد دلار در جایگاه ۱۴ اُم در میان ارزهای رمزنگاری شده قرار دارد.

                </p>
                <br />
                <a class="btn btn-group-sm" href="#">ادامه مطلب</a>
            </div>
        </article>
        <article class="col-sm-4 newsCol">
            <div class="article_wrapper">
                <h3>
                    آموزش ساخت کیف پول ریپل با Toast Wallet
                </h3>
                <br />
                <p>
                    در این مطلب از سایت ارز دیجیتال ایران به آموزش ساخت کیف پول ریپل با Toast Wallet را آماده کردیم . همان طور که میدانید ریپل مانند دیگر ارز های دیجیتال دارای کیف پول های متعددی است که در این آموزش ما به معرفی یکی از آن ها به نام Toast Wallet پرداخته ایم که امیدوارم این آموزش مورد توجه شما عزیزان و دوستداران دنیای ارز های دیجیتال قرار بگیرد

                </p>
                <p>
                    در ادامه قصد داریم آموزش ساخت کیف پول ریپل با برنامه Toast Wallet دسکتاپ آموزش دهیم.
                </p>
                <br />
                <a class="btn btn-group-sm" href="#">ادامه مطلب</a>
            </div>
        </article>
        <article class="col-sm-4 newsCol">
            <div class="article_wrapper">
                <h3>
                    سامسونگ جهت تامین جهانی از فناوری بلاک چین استفاده می‌کند
                </h3>
                <br />
                <p>
                    سامسونگ Samsung جهت زنجیره تامین جهانی از فناوری بلاک چین Blockchain استفاده می‌کند : غول حوزه الکترونیک کره جنوبی، اعلام کرده است که قصد دارد از تکنولوژی بلاک چین برای زنجیره تأمین جهانی خود استفاده کند. زنجیره تأمین (Supply chain) سیستمی متشکل از سازمان‌ها، مردم، فعالیت‌ ها و اطلاعات است که در انتقال یک کالا یا سرویس از ارائه دهنده به مشتری درگیر هستند.

                </p>
                <p>
                    طبق گفته رئیس بخش بلاک چین Samsung SDS، شرکت زیرمجموعه IT سامسونگ، استفاده از این تکنولوژی می تواند هزینه های حمل و نقل کالا را تا ۲۰ درصد کاهش دهد.
                </p>
                <br />
                <a class="btn btn-group-sm" href="#">ادامه مطلب</a>
            </div>
        </article>
    </div>
</div>
<div class="container-fluid" id="bg_membership">
    <div class="row">
        <div class="first-topic">
            <h2>
                اگر هنوز عضوی از بنیاد بیت کوین نشده اید ، اکنون عضو شوید
            </h2>
        </div>
        <br />
        <button id="membership-btn" type="submit" class="btn btn-lg btn-danger">عضو شـوید</button>
    </div>
</div>
<footer id="footer-Wrapper">
    <div class="social_footer container-fluid">
        <div class="row">
            <div class=" col-md-3"></div>
            <div id="instagram" class="col-md-1 social_item  fa-2x"><a class="btn fa fa-instagram pull-right" href="#"></a></div>
            <div id="youtube" class="col-md-1 social_item  fa-2x"><a class="btn fa fa-youtube" href="#"></a></div>
            <div id="linkedin" class="col-md-1 social_item fa-2x"><a class="btn fa fa-linkedin" href="#"></a></div>
            <div id="google-plus" class="col-md-1 social_item fa-2x"><a class="btn fa fa-google-plus" href="#"></a></div>
            <div id="facebook" class="col-md-1 social_item  fa-2x"><a class="btn fa fa-facebook" href="#"></a></div>
            <div id="twitter" class="col-md-1 social_item  fa-2x"><a class="btn fa fa-twitter" href="#"></a></div>
            <div class="col-md-3"></div>
        </div>
        <div class="row col-md-offset-1">
            <div id="copyright">© Copyright 2018 | The Bitcoin Foundation | All Rights Reserved</div>
            <div id="privacy_policy" class="terms-and-conditions"><a href="#">Website Terms of Service</a> | <a href="#">Privacy Policy</a> | <a href="#">Terms of Membership</a></div>
        </div>
    </div>
</footer>

