
@{
    ViewBag.Title = "اخبار روز بازار ارز دیجیتال";
}

<div class="news_bgimg_default">
    <div class="first-topic">
        <h1>
            اخبار
        </h1>
    </div>
    <div class="home-login-topic">
        <p>
            با آخرین اخبار مربوط به ارز دیجیتال، قوانین و قیمت ها در ارتباط باشید
        </p>
    </div>
    <br />
    <img src="images/page-1@2x.png" />
</div>
<div class="col-md-4 news-col">
    <div class="row news-row">
        <article>
            <header>
                <h2>پورتوپیا؛ آرمان‌شهر ارز دیجیتال</h2>
            </header>
            <footer>
                <p>
                    پورتوپیا سرزمینی است که روزی به آرمان‌شهر دارندگان ارز دیجیتال و نماد قابلیت‌های بلاک چین در امور روزمره برای مدیریت یک شهر تبدیل خواهد شد.
                </p>
                <br />
                <p>
                    بسیاری از کارآفرینان به‌واسطه ارزهای دیجیتال توانسته‌اند ثروت‌ میلیارد دلاری پیدا کنند که ازاین‌رو، برای ادامه زندگی تصمیم گرفته‌اند تمامی دارایی‌های خود اعم از ماشین و خانه‌هایشان را به فروش برسانند تا با ثروتی بیشتر به پورتوریکو بروند و در جزایر آن، جامعه‌ای بسازند که به‌راحتی و بدون نیاز به پرداخت مالیات به [...]
                </p>
                <br />
                <a href="#">بیشتر بخوانید</a>
            </footer>
        </article>
    </div>
    <div class="row news-row">
        <article>
            <header>
                <h2>
                    بیت‌کوین در سومین نمایشگاه تراکنش ایران
                </h2>
            </header>
            <footer>
                <p>
                    به نقل از نمایه بانک؛ بنیان‌گذار یک استارت‌آپ ایرانی فعال در زمینه ارزهای دیجیتال درباره وضعیت خرید و فروش بیت کوین و اتریوم در ایران و نگاه دولت به این حوزه می‌گوید: برداشت ما از سیاست‌های اخیر بانک مرکزی این است که اگر فعالیت‌ها تحت یک چارچوبی انجام شود، به زودی، مشکلی برای فعالیت بیت کوین در ایران وجود نخواهد داشت.
                </p>
                <br />
                <p>
                    درباره وضعیت خرید و فروش بیت کوین و اتریوم در ایران و نگاه دولت[...]
                </p>
                <br />
                <a href="#">بیشتر بخوانید</a>
            </footer>
        </article>
    </div>
</div>
<div class="col-md-4 news-col">
    <div class="row news-row">
        <article>
            <header>
                <h2>
                    خرید و فروش بیت کوین در کارگزاری‌ها تخلف است
                </h2>
            </header>
            <footer>
                <p>
                    به نقل از نمایه بانک؛ رئیس سازمان بورس گفته است خریدوفروش «بیت کوین» در کارگزاری‌ها تخلف است.
                </p>
                <br />
                <p>
                    شاپور محمدی در خصوص بیت‌کوین گفت:
                </p>
                <p>
                    سازمان بورس و اوراق بهادار در حال بررسی وضعیت بیت‌کوین برای ورود به اقتصاد کشور است و هنوز در این مورد به نتیجه نرسیده است؛ بنابراین اگر کارگزاری‌ها[...]


                </p>
                <br />
                <a href="#">بیشتر بخوانید</a>
            </footer>
        </article>
    </div>
    <div class="row news-row">
        <article>
            <header>
                <h2>
                    خرید و فروش بیت کوین در کارگزاری‌ها تخلف است
                </h2>
            </header>
            <footer>
                <p>
                    به نقل از نمایه بانک؛ رئیس سازمان بورس گفته است خریدوفروش «بیت کوین» در کارگزاری‌ها تخلف است.
                </p>
                <br />
                <p>
                    شاپور محمدی در خصوص بیت‌کوین گفت:
                </p>
                <p>
                    سازمان بورس و اوراق بهادار در حال بررسی وضعیت بیت‌کوین برای ورود به اقتصاد کشور است و هنوز در این مورد به نتیجه نرسیده است؛ بنابراین اگر کارگزاری‌ها[...]


                </p>
                <br />
                <a href="#">بیشتر بخوانید</a>
            </footer>
        </article>
    </div>
</div>
<div class="col-md-4 news-col">
    <div class="row news-row">
        <article>
            <header>
                <h2>
                    مهم ! دستورالعمل ثبت توکن های EOS برای انتقال به شبکه اصلی
                </h2>
            </header>
            <footer>
                <p>
                    شبکه اصلی یا Mainnet ایاس (EOS) در شرف راه اندازی قرار دارد. از این رو طبق نقشه راه از پیش اعلام شده، تمامی دارندگان توکن‌های EOS باید تا قبل از روز ۱ ژوئن ۲۰۱۸ ( ۹ خرداد ۹۷) توکن‌های خود را برای انتقال به شبکه اصلی ثبت نمایند; در غیر اینصورت احتمال از بین رفتن دارایی‌های EOS وجود دارد.
                </p>
                <br />
                <p>
                    در این راهنما شما را با چگونگی این کار آشنا می‌کنیم. چهار مرحله کلی که باید طی کنید به شرح زیر است :
                </p>
                <p>
                    ۱- انتقال تمام توکن‌های EOS به یکی از کیف پول‌های رسمی اتریوم. در این آموزش ما از کیف پول مای اتر ولت استفاده کرده ایم اما شما می‌توانید از کیف پول‌ متاماسک یا میست هم استفاده کنید.

                    ۲- ورود به سایت eos.io و دریافت[...]
                </p>
                <br />
                <a href="#">بیشتر بخوانید</a>
            </footer>
        </article>

        <div class="row news-row">
            <article>
                <header>
                    <h2>
                        برنامه اشتغال‌زایی بزرگ IBM در حوزه بلاک چین
                    </h2>
                </header>
                <footer>
                    <p>
                        شرکت آی.بی.ام طی دو سال آتی در زمینه بلاک چین، هوش مصنوعی، و اینترنت اشیا ۱۸۰۰ شغل جدید در فرانسه ایجاد خواهد کرد.
                    </p>
                    <br />
                    <p>
                        روزنامه فرانسوی Le Monde روز گذشته خبر از کار آفرینی IBM در این کشور داد. ورجینیا رامتی در مقام مدیر عامل IBM[...]
                    </p>

                    <br />
                    <a href="#">بیشتر بخوانید</a>
                </footer>
            </article>
        </div>
    </div>
</div>
<footer id="footer-Wrapper">
    <div class="social_footer container-fluid">
        <div class="row">
            <div class=" col-md-3"></div>
            <div id="instagram" class="col-md-1 social_item  fa-2x"><a class="btn fa fa-instagram pull-right" href="#"></a></div>
            <div id="youtube" class="col-md-1 social_item  fa-2x"><a class="btn fa fa-youtube" href="#"></a></div>
            <div id="linkedin" class="col-md-1 social_item fa-2x"><a class="btn fa fa-linkedin" href="#"></a></div>
            <div id="google-plus" class="col-md-1 social_item fa-2x"><a class="btn fa fa-google-plus" href="#"></a></div>
            <div id="facebook" class="col-md-1 social_item  fa-2x"><a class="btn fa fa-facebook" href="#"></a></div>
            <div id="twitter" class="col-md-1 social_item  fa-2x"><a class="btn fa fa-twitter" href="#"></a></div>
            <div class="col-md-3"></div>
        </div>
        <div class="row col-md-offset-1">
            <div id="copyright">© Copyright 2018 | The Bitcoin Foundation | All Rights Reserved</div>
            <div id="privacy_policy" class="terms-and-conditions"><a href="#">Website Terms of Service</a> | <a href="#">Privacy Policy</a> | <a href="#">Terms of Membership</a></div>
        </div>
    </div>
</footer>

